<form
       data-form-id="5d816718528b6d4a320d63d2"
       data-success-redirect=""
       autocomplete="on"
       
       method="POST"
       action="https://wholesalejb.squarespace.com"
       novalidate
       onsubmit="return (function (form) {
  Y.use('squarespace-form-submit', 'node', function usingFormSubmit(Y) {
    (new Y.Squarespace.FormSubmit(form)).submit({
      formId: '5d816718528b6d4a320d63d2',
      collectionId: '5d816718b161d74c27db777e',
      objectName: 'page-5d816718b161d74c27db777e'
    });
  });
  return false;
})(this);"
       
    >
      
        <div class="field-list clear">

   
            
              <fieldset id="name-yui_3_17_2_1_1568759165894_123027" class="form-item fields name required">
                
            <legend class="title">
              Name
              
                <span class="required" aria-hidden="true">*</span>
              
            </legend>
          
                
                <div class="field first-name">
                  <label class="caption">
                    <input
                        class="field-element field-control"
                        name="fname"
                        x-autocompletetype="given-name"
                        type="text"
                        spellcheck="false"
                        maxlength="30"
                        data-title="First"
                        aria-required="true"
                    />
                    <span class="caption-text">First Name</span>
                  </label>
                </div>
                <div class="field last-name">
                  <label class="caption">
                    <input
                        class="field-element field-control"
                        name="lname"
                        x-autocompletetype="surname"
                        type="text"
                        spellcheck="false"
                        maxlength="30"
                        data-title="Last"
                        aria-required="true"
                    />
                    <span class="caption-text">Last Name</span>
                  </label>
                </div>
              </fieldset>
            

            

            
            
              <div id="text-yui_3_17_2_1_1569000499566_37324" class="form-item field text required">
                
            <label class="title" for="text-yui_3_17_2_1_1569000499566_37324-field">
              Store Name
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element text"
                    type="text"
                    id="text-yui_3_17_2_1_1569000499566_37324-field"
                    
                    aria-required="true"
                />
              </div>
       

            
              <div id="email-yui_3_17_2_1_1568759165894_123028" class="form-item field email required">
                
            <label class="title" for="email-yui_3_17_2_1_1568759165894_123028-field">
              Email
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element"
                    id="email-yui_3_17_2_1_1568759165894_123028-field"
                    name="email"
                    type="email"
                    autocomplete="email"
                    spellcheck="false"
                    
                    aria-required="true"
                />
              </div>
            

           
              <div id="number-yui_3_17_2_1_1568759165894_150925" class="form-item field number required">
                
            <label class="title" for="number-yui_3_17_2_1_1568759165894_150925-field">
              Phone Number
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element"
                    type="text"
                    id="number-yui_3_17_2_1_1568759165894_150925-field"
                    spellcheck="false"
                    
                    aria-required="true"
                />
              </div>
 
            
              <div id="text-yui_3_17_2_1_1609198028718_33323" class="form-item field text required">
                
            <label class="title" for="text-yui_3_17_2_1_1609198028718_33323-field">
              City, State
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element text"
                    type="text"
                    id="text-yui_3_17_2_1_1609198028718_33323-field"
                    
                    aria-required="true"
                />
              </div>
            

              <div id="text-yui_3_17_2_1_1569463971411_559916" class="form-item field text required">
                
            <label class="title" for="text-yui_3_17_2_1_1569463971411_559916-field">
              How long have you been in business for?
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element text"
                    type="text"
                    id="text-yui_3_17_2_1_1569463971411_559916-field"
                    
                    aria-required="true"
                />
              </div>
            

              <div id="text-yui_3_17_2_1_1569463971411_561528" class="form-item field text required">
                
            <label class="title" for="text-yui_3_17_2_1_1569463971411_561528-field">
              What other brands does your store carry?
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <input
                    class="field-element text"
                    type="text"
                    id="text-yui_3_17_2_1_1569463971411_561528-field"
                    
                    aria-required="true"
                />
              </div>
            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

        

          

          

            

            

            
              <div id="text-yui_3_17_2_1_1569463971411_562984" class="form-item field text required">
                
            <label class="title" for="text-yui_3_17_2_1_1569463971411_562984-field">
              Store Type 
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                <div class="description">(Brick & Mortar, Online, Both)</div>
                <input
                    class="field-element text"
                    type="text"
                    id="text-yui_3_17_2_1_1569463971411_562984-field"
                    
                    aria-required="true"
                />
              </div>
            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

        

          

          

            

            

            

            
              <div id="textarea-yui_3_17_2_1_1569463971411_577529" class="form-item field textarea required">
                
            <label class="title" for="textarea-yui_3_17_2_1_1569463971411_577529-field">
              Message
              
                <span class="required" aria-hidden="true">*</span>
              
            </label>
          
                
                <textarea
                    class="field-element "
                    id="textarea-yui_3_17_2_1_1569463971411_577529-field"
                    
                    aria-required="true"
                ></textarea>
              </div>
            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

            

        

        </div>

      

      

      
      <div data-animation-role="button"
        class="
          form-button-wrapper
          
            form-button-wrapper--align-left
          
        "
      >
        <input class="button sqs-system-button sqs-editable-button" type="submit" value="Submit"/>
      </div>
      

      
      <div class="hidden form-submission-text"><p class="">Thank you! We will reply within 24-48 hours.</p><p class="">Our hours are Monday-Friday 9am to 5pm. If you have any immedaite questions, please contact our office at (805) 220-6771.</p></div>
      <div class="hidden form-submission-html" data-submission-html=""></div>
    </form>