<div class="bootstrap-iso">
  <div class="row">
    <div class="col-sm-6 img-block">
      <img src="https://d3k81ch9hvuctc.cloudfront.net/company/RikzWS/images/c43240eb-838f-4d14-bf14-d8a343496e16.png"/>
    </div>
    <div class="col-sm-6 form-block-main">
      <div class="form-block">
<!--         <h2>Join the Club. Unlock 20% Off.</h2>
        <p>Sign up for VIP Access and be the first to know about special offers and exclusive deals.</p> -->
<!--         <form action="#">
          <div class="form-group">
            <input type="text" class="input-full" id="mobile" placeholder="Mobile Number">
          </div>

          <button type="submit" class="btn-subscribe">Subscribe</button>
          
        </form> -->
        <div class="klaviyo-form-QPesyc"></div>
<!--         <span class = "help-block">
          By signing up via text you agree to receive recurring automated marketing messages and shopping cart reminders at the phone number provided. Consent is not a condition of purchase. Reply STOP to unsubscribe. HELP for help. Msg & Data rates may apply. View Privacy Policy & ToS
        </span> -->
      </div>
      
    </div>
  </div>
</div>